//colors:
$color-white: #ffff;
$color-light-orange: #fbf5ef;
$color-orange-section: #fffaf3;
$color-grey-white: #e1e1e1;
$color-light-grey: #e2e2e2;
$color-grey-p: #7e8788;
$color-grey-blue: #838b8c;
$color-dark-grey: #737c7d;
$color-block: #565d5d;
$color-grey-card: #343a3b;
$color-light-orange-text: #fae0c5;
$color-orange: #ffac55;
$color-dark-orange: #f6961b;
$color-red: #ff2727;
$color-light-green: #c9ffdb;
$color-lettuce: #16d428;
$color-green: #55bd77;
$color-biruza: #d4f6ff;
$color-card-bloquote: #c7eaf3;
$color-card-section: #e7eff1;
$color-light-blue: #d0e6ec;
$color-grey-radius: #d2dbdd;
$color-border-message: #cddbde;
$color-circle: #97aaaf;
$color-light-text: #aee9f9;
$color-dark-biruza: #7cddf7;
$color-blue: #03b6e7;
$color-card-h3: #343a3b;
$color-black-grey: #323334;
$color-light-black: #262829;
$color-black: #000;

//colors each
$color-red-orange: #e4463b;
$color-light-brown: #d4c5a8;
$color-light-blue: #00b5da;
$color-blue-link: #1883bb;
$color-dark-blue: #385da5;
$colors: #385da5,#00b5da,#d4c5a8,#1883bb,#e4463b;

//font-size:
$size-small: 13px;
$size-normal: 14px;
$size-p-content: 15px;
$size-simple:16px;
$size-h5: 18px;
$size-p: 20px;
$size-h3: 24px;
$size-lg: 48px;
$size-error: 270px;
$size-h2: 32px;

//font-family:
$family-monserat: 'Montserrat', sans-serif;
$family-domine: 'Domine', serif;