.header{
  background-image: url("../../images/header-baner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);

  }
  .container{
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    padding-top: 40px;
    flex-wrap: wrap;
    padding-bottom: 10px;
  }
}

